<div>
  <br>
  <div>
    <input type="text"
           #newquery
           [value]="query"
           (keydown.enter)="submit(newquery.value)">
    <div>
      <button class="btn btn-primary" (click)="submit(newquery.value)">Search</button>
    </div>
  </div>
  <br>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="photos && !loading" class="row">
    <div *ngFor="let photo of photos" class="col col-md-4">
      <div>
        <img [src]="photo.thumbnailUrl" [alt]="photo.title">
      </div>
      <div>
        <h3>{{ photo.title }}</h3>
      </div>
      <div>
        <a [routerLink]="['/photo', photo.id]" class="btn btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>
